/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  
}
a{
	color: #ca2e3c;
	text-decoration: none;
}
b{
	font-weight: bold;
}
i{
	font-style: italic;
}
sup {
	font-size:xx-small; vertical-align:super;
}
p{
	padding: 0.5em 0;
}
strong {
    font-family: 'ColaborateMediumRegular', Arial, sans-serif;
    font-weight: 700;
}

/*
	========================================
	Grid
	=========================================
*/
*,
*:before,
*:after {
	box-sizing: border-box;
}

html,
body
{
	background-image: linear-gradient(
      #AAAAAA, #222222
    );
	background-attachment: fixed;
	color: black;
	font: 300 16px/22px "Arial","Open Sans", "Garamond", "Bookman", "Roboto", "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0; 
    padding: 0; 
    width: 100%; 
    height: 100%;

}

/*
	========================================
	Header
	=========================================
*/

header{
	left: 0%;
	width: 100%;
	padding: 2%;
	background: url(../images/StillLife.jpg);
	background-color: black;
    background-repeat : no-repeat;
	background-position: left 150px top;

	position: fixed;
	z-index: 8;
	transition: 0.2s;


}
.header-logo{
	position:absolute;
	margin: 0 auto;
	left: 20px;
	top:20px;
	transition: 0.1s;
}

.logo-img{
	height:160px;
	transition: 0.2s;
}

.scroll-banner
{
	height: 250px;
	width: 100%;
	top: 0%;
	left:0%;
	background: url(../images/StillLife.jpg);
	background-repeat : no-repeat;
	background-color: black;
	background-position: 150px top;
	position: fixed;
	z-index: 6;
	transition: 0.2s;
	
	
}


.page{
	/*width: 80%;*/
	margin: 0 auto;
	background-color: white;
	top: 200px;
	min-width: 550px;
	min-height: 700px; 
	font-size:  14pt;
	margin-left: max( calc(5% + 150px),200px);
	margin-right: min(5%, 200px);
	position: relative;
	z-index:7;
	box-shadow: inset 0 7px 9px -7px rgba(0,0,0,0.7);
}

.content{
	background-color:white;
	margin-left: 100px;
	min-width: 500px;
	padding:75px 75px 75px 0%;
	word-wrap:break-word;
	line-height: 20pt;
	box-shadow: inset 0 20px 9px -20px rgba(0,0,0,0.7);
	
}
.sticky-pos{
	top: 300px;
	margin-left: -160px;
	float:left;
	position: sticky;
}
nav{
	padding: 5%;
	width:200px;
	background-color: rgba(0,0,0,0.82);
	z-index: 11;
	position: sticky;
	border-radius: 20px;
	box-shadow: -4px 0px 0px 4px rgba(0,0,0,0.4);

}
ul{
	list-style-type: circle;
	margin-left: 10%;
}
ol{
	margin-left: 10%;
	list-style-position: inside;
	list-style-type: decimal;
}

a.samp{
	margin: auto;
	padding-left: 20%;
	text-align: center;
}
nav ul{
	margin-left: 0;
	text-align: left;
	list-style-type: none;
	width: 90%;
	position:relative;
	left: 7%;
}
nav ul li{
	margin: auto;
	padding: 3%;
	color: white;
}
nav ul li a{
	color: white;
	font-size: 13pt;
	line-height: 20pt;
	text-decoration: none;
	word-wrap:none;

}

nav ul li a:hover{
	color: #ca2e3c;
}

table{
	padding: 0.5em;
	width:60%;
	border: 10px solid #A9A9A9;
	margin: auto;
}

tr{
	vertical-align:top;
}
.table-header, 
.table-content,
.table-footer{
	background-color: #303030;
	border: 5px solid #A9A9A9;
	font-size: 8pt;
	text-align: center;
	color: white;
}
.table-footer a{
	color: white;
}
.table-header{
	padding: 10px;
}
.table-content{
	padding: 10px;
}
.table-content img{
	margin: auto;
	
	display: block;
}
.table-footer{
	padding: 2px;
}
blockquote{
	background: #f9f9f9;
	border-left: 10px solid #ca2e3c;
	margin-bottom: 1em;
	margin-left: 5%;
	margin-right: 5%;
	padding: 0.5em 5%;
}

blockquote p{
	display: inline;
}

p.release{
	font-size: 11pt;
	color: black;
}
div.license-page{
	font-size: 12pt;
	font-style: italic;
	
}
p.copy-legal{
	margin: 2% 5%;
	text-align: left;
	font-size: 10pt;
	font-style: normal;
}

code {
  font: 300 16px/22px "Courier","Arial","Open Sans", "Garamond", "Bookman", "Roboto", "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #f9f9f9;
  border-radius: 8px;
  border: 1px solid #f9f9f9;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 5px;
  padding-right: 5px;	  
}

pre{
	margin: 20px 0px;
	line-height: 20px;
}
pre code{
	padding: 0px 20px;
	display: block;
 	overflow-x: auto;
}

/*
	========================================
	Nav
	=========================================
*/

/*
	========================================
	Page
	=========================================
*/

h1{
	font-size: 18pt;
	font-weight: bold;
	font-style: normal;
	color: #ca2e3c;
}
h3
{
	font-size: 16pt;
	font-style: normal;
	color: #ca2e3c;
	padding-top: 15px;
	padding-bottom: 10px;
	font-weight: bold;
}
h2
{
	font-size: 17pt;
	font-style: normal;
	color: #ca2e3c;
	padding-top: 15px;
	padding-bottom: 10px;
	font-weight: bold;
}
.divider{
	margin-bottom: 2em;
	border-top: 1px solid #A9A9A9;
}

.sub-divider{
	margin-bottom: 1em;
	margin-top: 0.1em;
	border-top: 1px solid #A9A9A9;
}


.index-news{
	float:left;
	margin-right: 1em;
	padding-right: 1em;
	border-right: 1px solid #A9A9A9;
	font-size: 12px;
	height:350px;
	width:45%;
}

.index-download{
	font-size: 12px;
	height:350px;
	min-width: 250px;
	width:45%;
	overflow-y: auto;
}
.code-download{
  font: 300 14px/16px "Courier","Arial","Open Sans", "Garamond", "Bookman", "Roboto", "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #f9f9f9;
  border-radius: 8px;
  border: 1px solid #f9f9f9;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 5px;
  padding-right: 5px;	
}

.pre-download{
	margin: 5px 0px;
	line-height: 20px;
}



.column-index {
  float: left;
  width: 50%;
  padding: 0em 1em;
  font-size: 16px;

}
.column-index:not(:last-child) {
  border-right: 1px solid #A9A9A9;
}
/* Clear floats after the columns */
.index-news-download:after {
  content: "";
  display: table;
  clear: both;
}



/*
	========================================
	Footer
	=========================================
*/

footer{
	top: calc(100% - 50px);
	height: 100px;
	width: 100%;
	padding: 1%;
	font-size: 8pt;
	color: #990033;
	background-color: black;
	position: fixed;
	z-index: 14;
}




